:80 {
  encode gzip zstd
  header X-KuroNeko-Debug "yes"

  route {
    @api path /api/*
    reverse_proxy @api backend:8000

    @uploads path /uploads/*
    reverse_proxy @uploads backend:8000

    root * /srv/frontend
    file_server
    try_files {path} /index.html
  }
}
