:80 {
  encode gzip zstd

  root * /srv/frontend
  file_server
  try_files {path} /index.html

  handle_path /api/* {
    reverse_proxy backend:8000
  }

  handle /ws/* {
    reverse_proxy backend:8000
  }
}
